<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th class="text-center">文件名</th>
                <th class="text-center">大小</th>
                <th class="text-center">简介</th>
                <th class="text-center">上传者</th>
            </tr>
            <% if (files.length == 0) { %>
            <tr>
                <td colspan="4" class="text-center">暂无</td>
            </tr>
            <% } else { %>
            <% files.forEach(function (file) { %>
            <tr>
                <td><a href="/download?id=<%= file._id %>"><%= file.name %></a></td>
                <td><%= (file.size / 1024).toFixed(1) %> KB</td>
                <td><%= file.introduction === "" ? "无" : file.introduction %></td>
                <td><%= file.uploader.name %></td>
            </tr>
            <% }); %>
            <% } %>
        </table>
    </div>
</div>