<div class="row" style="height: 468px;">
    <div class="col-md-8" style="max-height: 500px;">
        <div id="carousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <% for (var i = 0; i < slides.length; ++i) { %>
                    <% if (i == 0) { %>
                        <li data-target="#carousel" data-slide-to="<%= i %>" class="active"></li>
                        <% } else { %>
                            <li data-target="#carousel" data-slide-to="<%= i %>"></li>
                            <% } %>
                                <% } %>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <% for (var i = 0; i < slides.length; ++i) { %>
                    <% if (i == 0) { %>
                        <div class="item active">
                            <img class="center-block" src="<%= slides[i].path %>" style="max-height: 468px;">
                        </div>
                        <% } else { %>
                            <div class="item">
                                <img class="center-block" src="<%= slides[i].path %>" style="max-height: 468px;">
                            </div>
                            <% } %>
                                <% } %>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-4" style="height:468px;">
        <div>
            <p>Advanced Network Laboratory (ANL) at Shanghai Jiao Tong University was established in the spring of 2011 with 5 active faculty advisors, currently having 24 graduated doctorates or masters and more than 40 postgraduates. The mission of the
                lab is to conduct original research in various communication networks with an emphasis on research contributions and impact.</p>
        </div>
        <a href="/en/introduction" class="pull-right" style="margin-bottom: 0px; font-size: 80%;">&gt;&gt;See Details</a>
    </div>
</div>

<div class="row home-news">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Top News
            </div>
            <div class="panel-body">
                <% topNews.forEach(function(article) { %>
                    <div style="border-bottom: dotted grey 0.5px;">
                        <a target="_blank" href="/en/news?id=<%= article._id %>">
                            <h5>
                                <%= article.title_en %>
                            </h5>
                        </a>
                        <small><%= moment(article.date).format("YYYY-MM-DD") %></small>
                    </div>
                    <% }); %>
                        <% if (topNews.length) { %>
                            <div align="right">
                                <a style="font-size: 80%;" href="/en/news" class="pull-right" target="_blank">
                        &gt;&gt;
                        More
                    </a>
                            </div>
                            <% } %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Latest Blogs
            </div>
            <div class="panel-body">
                <% latestBlogs.forEach(function(blog) { %>
                    <div style="border-bottom: dotted grey 0.5px;">
                        <a target="_blank" href="/en/activity?id=<%= blog._id %>">
                            <h5>
                                <%= blog.title %>
                            </h5>
                        </a>
                        <small><%= moment(blog.date).format("YYYY-MM-DD") %></small>
                    </div>
                    <% }); %>
                        <% if (topNews.length) { %>
                            <div align="right">
                                <a target="_blank" style="font-size: 80%;" href="/en/activity" class="pull-right">
                        &gt;&gt;
                        More
                    </a>
                            </div>
                            <% } %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Latest Achievements
            </div>
            <div class="panel-body">
                <% achievements.forEach(function(achievement) { %>
                    <div style="border-bottom: dotted grey 0.5px;">
                        <a target="_blank" href="/en/achievement?id=<%= achievement._id %>">
                            <h5>
                                <%= achievement.title_en %>
                            </h5>
                        </a>
                        <small><%= moment(achievement.date).format("YYYY-MM-DD") %></small>
                    </div>
                    <% }); %>
                        <% if (achievements.length) { %>
                            <div align="right">
                                <a style="font-size: 80%;" href="/en/achievement" class="pull-right" target="_blank">
                        &gt;&gt;
                        More
                    </a>
                            </div>
                            <% } %>
            </div>
        </div>
    </div>
</div>